@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: #f8fafc;
    color: #1e293b;
  }
}